* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.board--body {
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  height: 100vh;
  
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.wallpaper--container {
  position: relative;
  width: 100%;
  height: 100%;
}

.wallpaper{
  background-image: url('/wallpaper.jpg');
  background-size: cover; /* Mantém as proporções e corta a imagem */
  background-position: center; /* Centraliza a imagem horizontalmente */
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.bg--wallpaper{
  background: url('/bg_home4.jpg') no-repeat center center fixed; 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  margin: 0;
}

.taskbar{
  position: fixed;
  background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
  height: 30px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  flex-shrink: 0;
  cursor: default;
}

.startButton{
  color: white;
  background: radial-gradient(circle, #5eac56 0%, #3c873c 100%) center/cover no-repeat;
  border: none;
  width: 90px;
  height: 100%;
  box-sizing: border-box;
  font-size: 1.1rem;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 10px 12px 0px;
  box-shadow: 0px 5px 10px #79ce71 inset;
}

.startButton:hover {
  background: radial-gradient(circle, #6fd96e 0%, #4baf4b 100%) center/cover no-repeat;
  box-shadow: 0px 5px 15px #79ce71 inset;
}

.startButton:active{
  background: radial-gradient(circle, #4baf4b 0%, #3c873c 100%) center/cover no-repeat;
  box-shadow: 0px 2px 5px #79ce71 inset;
}

.startButton--img{
  width: auto;
  height: 60%;
}

.startButton--text{
  margin-left: 2px;
}

.taskbar--taskarea{
  display: flex;
  width: 88%;
  align-items: center;

}

.taskbar--window{
  background-color: #3c81f3;
  width: 150px;
  height: 95%;
  margin-left: 2px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskbar--window:hover {
  background-color: #5DB3FF; /* Green */
  color: white;
}

.taskbar--window:active{
  background-color: #2c5bb8;
}

.taskbar--window:focus{
  outline: none;
  border: 1px solid #ffffff;
}

.taskbar--clock{
  background-color: #14A5F4;
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window--msn--container{
  position: fixed;
  top: 0;
  left: 1vw;
  top: 2vh;
  width: 15vw;
  height: 93vh;
  background-color: black;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  z-index: 1;
}

.window--conversation--container{
  position: fixed;
  top: 0;
  right: 1vw;
  top: 2vh;
  width: 82vw;
  height: 93vh;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  z-index: 1;
}

.window--conversation--container.hidden{
  display: none;
}

.window--conversation--content{
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Centraliza horizontalmente */
  justify-content: space-between; /* Adiciona espaços acima e abaixo dos cards */
  padding: 0 200px; /* Adiciona espaços nas laterais */
  width: 100%;
  height: 95%;
}

.minimized {
  display: none;
}

.titlebar--container{
  width: 100%;
  height: 27px;
  background: linear-gradient(180deg,#0997ff,#0053ee 8%,#0050ee 40%,#06f 88%,#06f 93%,#005bff 95%,#003dd7 96%,#003dd7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5px 3px 3px;
  border-top: 1px solid #0831d9;
  border-left: 1px solid #0831d9;
  border-right: 1px solid #001ea0;
  border-top-left-radius: 8px;
  border-top-right-radius: 7px;
  font-size: 13px;
  text-shadow: 1px 1px #0f1089;
}

.titlebar--controls{
  display: flex;
  flex-direction: row-reverse;
}

.titlebar--button{
  min-width: 21px;
  min-height: 21px;
  margin-left: 2px;
  background-repeat: no-repeat;
  background-position: 50%;
}

.card--container {
  position: relative;
  display: flex; /* [1] */
  align-items: center; /* [2] */
  background-color: #fff;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
}

.card--container:hover {
  background-color: #719bf0;
}

.card--content {
  color: #65676b;
  padding-left: 10px;
}

.card--content h3 {
  font-size: 15px;
  color: black;
}

.card--content p {
  font-size: 14px;
  color: #65676b;
}

.card__image {
  border-radius: 50%;
  margin-right: 12px;
}

.card2--container {
  position: relative;
  display: flex; /* [1] */
  align-items: center; /* [2] */
  background-color: #fff;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.05);
}

.card2--content p {
  font-size: 15px;
  color: #202123;
}

.card2--content {
  padding-left: 10px;
}

.card2--content h3 {
  font-size: 15px;
  color: #202123;
}

.custom-image {
  background-color: white;
  border-radius: 6px;
  
}

.textbox--container{
  width: 100%;
  height: 50px;
}

.textbox--input{
    width: 90%;
    height: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.textbox--button{
  width: 10%;
  height: 100%;
  background-color: #202123;
  border-radius: 4px;
}

.home--body {
  display: flex;
  flex-direction: column;
}

.h1--container--home{
  margin-top: 20%;
  margin-left: 5%;
  width: 30%;
  padding: 20px;
  background-color: #202123;
}

.p--container--home{
  margin-top: 50px;
  margin-left: 13%;
  width: 15%;
  padding: 20px;
  background-color: #202123;
}

.h1--home{
  font-size: 3em;
}

.home--container--menu{
  display: flex;
  padding: 15px;
  background-color: #202123;
}



.home--menu{
  width: 20%;
  display: flex;
  margin-left: auto; 
  margin-right: 0;
  justify-content: space-around;
}

.href--home{
  text-decoration:none;
  color: white;
}